@import "../../styles/Variables.module";

.formSelect {
  width: 100%;
  margin-bottom: .5rem;

  .select {
    @include form-input;
    cursor: pointer;
    position: relative;

    @media (max-width: 767px) {
      height: 46px;
    }

    @media (max-width: 609px) {
      height: 36px;
    }
  }

  .selectImage {
    width: 8px;
    height: 8px;
    margin-left: 1rem;
    transition: .3s;
  }

  .children {
    font-size: 1rem;
    height: 0;
    width: 100%;
    opacity: 0;
    transition: .3s;
    display: none;
  }

  &.open {
    .selectImage {
      transform: rotate(180deg);
    }

    .children {
      display: flex;
      justify-content: start;
      align-items: flex-start;
      flex-direction: column;
      height: auto;
      margin-bottom: 1rem;
      opacity: 1;
      transition: .3s;
    }
  }
}

.titleSelect {
  display: block;
  white-space: nowrap;
}

.file {
  @include form-input;
  cursor: pointer;

  .fileInput{
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
  }

  .fileName{
    overflow: hidden;
    text-wrap: none;
    text-overflow: ellipsis;
    max-width: 80%;
  }

  @media (max-width: 767px) {
    height: 46px;
  }

  @media (max-width: 609px) {
    height: 36px;
  }


  .fileImage {
    width: 12px;
    height: 12px;
    margin-left: 1rem;
  }
}

.radios {
  width: 100%;
  padding: .5rem 1rem;

  .radiosItem {
    height: 1.6666vw;
    display: flex;
    align-items: center;
    gap: 0.4166vw;
    margin-bottom: 0.4166vw;
    font-weight: 400;
    line-height: 0.9895vw;
    cursor: pointer;

    input {
      display: block;
      width: 1.125rem;
      height: 1.125rem;
      cursor: pointer;
      flex-shrink: 0;

    }

    label {
      flex-grow: 1;
      cursor: pointer;
    }
  }
}

.formRadio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include form-input;
  cursor: pointer;
  position: relative;

  .radioText{
    font-size: inherit;
  }

  .radioArrow{
    width: 8px;
    height: 8px;
    margin-left: 1rem;
    transition: .3s;
  }

  .radioList {
    width: 100%;
    height: 0;
    opacity: 0;
    background: $second-background-color;
    border-radius: $primary-border-radius;
    border: 1px solid #000;
    position: absolute;
    left: 0;
    top: 4rem;
    transition: .3s;
    z-index: -10000;

    &.open {
      height: auto;
      opacity: 1;
      z-index: 10000;

      .listItem {
        height: auto;
        opacity: 1;
        width: 100%;
        border: none;
      }
    }

    .listItem {
      height: auto;
      opacity: 1;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: .25rem;
      border-radius: $primary-border-radius;
      color: $primary-color;
      transition: .3s;

      &:hover,
      &:focus {
        background: $third-background-color;
      }

      .listImage {
        width: 30px;
        height: 30px;
        margin-right: 8px;
      }

      .listText {
        margin-right: 42px;
      }
    }
  }
}