@import "../../styles/Variables.module";

.formSelect {
  .select {
    @include form-input;
    cursor: pointer;
    margin-bottom: 0.4166vw;

    .selectImage {
      width: 0.4166vw;
      height: 0.4166vw;
      transition: .3s;
    }
  }

  .children {
    height: 0;
    width: 100%;
    opacity: 0;
    transition: .3s;
    display: none;
    margin-bottom: 1.0416vw;
  }

  &.open {
    .select {
      .selectImage {
        transform: rotate(180deg);
      }
    }

    .children {
      display: flex;
      justify-content: start;
      align-items: flex-start;
      flex-direction: column;
      height: auto;
      opacity: 1;
      transition: .3s;
    }
  }
}

.file {
  @include form-input;
  cursor: pointer;

  .fileImage {
    width: 0.5958vw;
    height: 0.625vw;
  }
}

.radios {
  width: 100%;
  padding: .5rem 1rem;

  .radiosItem {
    height: 1.6666vw;
    display: flex;
    align-items: center;
    gap: 0.4166vw;
    margin-bottom: 0.4166vw;
    font-weight: 400;
    line-height: 0.9895vw;
    cursor: pointer;

    input {
      display: block;
      width: 1.125rem;
      height: 1.125rem;
      cursor: pointer;
      flex-shrink: 0;

    }

    label {
      flex-grow: 1;
      cursor: pointer;
    }
  }
}