@import "../../styles/Variables.module";

.hotVacancies {
  padding: 2.5vw 0;
  background: $second-background-color;

  .hotVacanciesTitle {
    margin-bottom: 0.9375vw;
  }
}

.hotSlider {
  position: relative;
  margin-bottom: 2rem;

  .sliderBlock {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .sliderWrapper {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-wrap: nowrap;
      width: auto;
      height: 100%;
      transition: .3s;

      position: relative;
      left: 0;
      top: 0;
    }
  }

  .sliderButton {
    width: 40px;
    height: 40px;
    border: none;

    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
}

.hotItem {
  width: 30%;
  flex-grow: 0;
  height: 100%;
  padding: 2rem;
  background: $primary-background-color;
  border-radius: $primary-border-radius;

  .hotVacanciesTitle {
    @include vacancy-title;
  }

  .hotSalary {
    @include vacancy-salary;
  }

  .hotSchedule,
  .hotCountry,
  .hotLastVacancies {
    @include vacancy-data-item;
  }

  .hotLastVacancies {
    margin-bottom: 1rem;
  }
}

.hotForm {
  padding: 2rem;
  background-color: $primary-background-color;
}
