$primary-background-color: #fff;
$second-background-color: #F6FDFF;
$third-background-color: #FFEF62;
$transparent: rgba(0, 0, 0, 0);
$primary-color: #000;
$second-color: #fff;
$primary-font-size: 0.8333vw;
$second-font-size: 0.7291vw;
$primary-border-radius: 0.2604vw;

@mixin form-input {
  position: relative;
  width: 13.3854vw;
  height: 1.9270vw;
  padding: 0.5208vw 0.625vw;
  font-size: 0.7291vw;

  background: #FBFDFE;
  border: 0.0520vw solid rgba(0, 0, 0, 0.05);
  border-radius: $primary-border-radius;
}

@mixin primary-button($width,$height) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $width;
  height: $height;

  font-size: 0.9722vw;
  font-weight: 900;

  background: $third-background-color;
  border-radius: $primary-border-radius;
  border: none;
}