$primary-background-color: #fff;
$second-background-color: #F6FDFF;
$third-background-color: #FFEF62;
$third-background-color-tr: rgba(255, 239, 98, 0.4);
$transparent: rgba(0, 0, 0, 0);
$primary-color: #000;
$second-color: #fff;
$primary-title-font-size:1.6666vw;
$primary-font-size: 100%;
$second-font-size: 0.7291vw;
$primary-border-radius: 0.2604vw;
$select-box-shadow: 0 0.3125vw 0.5208vw rgba(219, 219, 219, 0.25);
$primary-select-button-color: #FBFDFE;

@mixin form-input {
  position: relative;
  width: 13.3854vw;
  height: 1.9270vw;
  padding: 0.5208vw 0.625vw;
  font-size: 0.7291vw;

  background: $transparent;
  border: 0.0520vw solid rgba(0, 0, 0, 0.05);
  border-radius: $primary-border-radius;
}

@mixin primary-button($width,$height) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $width;
  height: $height;

  font-size: 0.9722vw;
  font-weight: 900;

  background: $third-background-color;
  border-radius: $primary-border-radius;
  border: none;
}

@mixin vacancy-title{
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 0.8333vw;
}

@mixin vacancy-salary{
  font-size: $primary-font-size;
  font-weight: 700;
  margin-bottom: 0.4166vw;
}

@mixin vacancy-data-item{
  font-size: $primary-font-size;
  font-weight: 300;
  margin-bottom: 0.4166vw;
}