@import "src/styles/Variables.module";

.app {
  color: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appTitle {
  .title {
    font-style: normal;
    font-weight: 900;
    font-size: 1.6666vw;
    color: $primary-color;
  }

  .subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25vw;
    color: $primary-color;
  }
}
