@import "../../styles/Variables.module";

.main {
  padding-top: 3.125rem;
}

.mainContainer {
  width: 62.1942vw;
  height: 38.9541vw;
  padding: 1.1458vw 0.6770vw 0;
  position: relative;
}

.mainTitle {
  font-size: 2.0833vw;
  line-height: 2.725vw;
  font-weight: 900;
  text-align: center;
}

.mainImage {
  width: 50.46875vw;
  height: 24.6875vw;
  margin: 0 auto;
}

