@import "src/styles/Variables.module";

.stepsContainer {
  @include steps(1.5rem, 2.5rem, 1.5rem);

}

.stepItem {
  @include stepItem;

  &.dedicated {
    outline: 4px solid $third-background-color;
    text-transform: uppercase;
    font-weight: 700;
  }

  .number {
    @include stepItemNumber;
  }
}