@import "../../styles/Variables.module";

.header {
  width: 100vw;

  .headerInfo {
    height: 5.4166vw;

    .infoItem {
      .title {
        font-size: 1.25vw;
        font-weight: 900;
        color: $primary-color;
        text-align: center;
      }

      .subtitle {
        font-size: $primary-font-size;
        font-weight: 300;
        text-align: center;
        letter-spacing: 0.065em;
        color: $primary-color;
      }

      p {
        font-size: $second-font-size;
        line-height: 0.9479vw;
        font-weight: 400;

        a {
          color: $primary-color;
          text-decoration: underline;
        }

        button {
          border: none;
          font-size: 0.9375vw;
          line-height: 1em;
          font-weight: 700;
          padding: 0;

          img {
            width: 0.3385vw;
            height: 0.3385vw;
            margin-left: 0.4166vw;
          }
        }
      }
    }
  }

  .headerNav {
    width: 100%;
    height: 2.8645vw;
    background: $third-background-color;
    .navLink {
      color: $primary-color;
      font-weight: 300;

      &.active {
        font-weight: 700;
      }
    }
  }
}