@import "../../styles/Variables.module";

.formFields {
  display: grid;
  grid-row-gap: 1.5em;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.5em;


  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 509px) {
    grid-template-columns: 1fr;
  }
}



