@import "../../styles/Variables.module";

.vacancies {
  padding: 2.65625vw 0 2.8645vw;

  .vacanciesContainer {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-top: 2.2395vw;
    gap: 2.0833vw;

    @media (max-width: 1099px) {
      flex-direction: column;
    }
  }
}

.vacanciesSideBar {
  @media (min-width: 1100px) {
    width: 310px;
    flex-shrink: 0;
  }

  @media (max-width: 1099px) {
    width: 100%;
  }

  .sideBarTitle {
    color: #676262;
    font-weight: 300;
    margin-bottom: 0.6770vw;
  }

  .sideBarSelect {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 2.8125vw;
    padding: 1rem 1.25rem;

    font-size: 1rem;
    font-weight: 400;
    background: #F6FDFF;
    box-shadow: $select-box-shadow;
    border-radius: $primary-border-radius;
    border: none;
    cursor: pointer;

    .selectImage {
      width: 0.8333vw;
      height: 0.8333vw;
    }
  }

  .selectTitle {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.6666vw;
    font-size: $primary-font-size;
    font-weight: 300;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: 0.3645vw 0;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & > div {
    @media (max-width: 1099px) {
      flex-basis: 15%;
    }
  }
}

.sideBarButton {
  display: flex;
  justify-content: start;
  align-items: center;
  background: $primary-select-button-color;
  width: 85%;
  height: 1.6666vw;
  font-size: $primary-font-size;
  border: none;
  border-radius: $primary-border-radius;
  padding: 0.4166vw 1.0416vw;
  margin-top: 0.3645vw;

  &.active {
    background: rgba(255, 239, 98, 0.4);
    width: 100%;
  }
}

.vacanciesContent {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 2.0833vw;
  padding-top: 1.51vw;
}

.vacanciesItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.2395vw;

  width: 100%;
  padding: 1.0416vw;
  background: $second-background-color;

  .itemText {
    .itemTitle {
      @include vacancy-title;
    }

    .itemSalary {
      @include vacancy-salary;
    }

    .itemSchedule,
    .itemCountry,
    .itemPayment,
    .itemLastVacancies {
      @include vacancy-data-item;
    }

    .itemLastVacancies {
      margin-bottom: 1.25vw;
    }

    .itemForm {
      .formTitle {
        font-size: $second-font-size;
        font-weight: 700;
        margin-bottom: .5rem;
      }

      .formButtons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.0833vw;

        .formSelect {
          @include form-input;
          margin: 0;

          @media (max-width: 767px) {
            height: 46px;
          }

          @media (max-width: 609px) {
            height: 36px;
          }
        }
      }
    }
  }

  .itemImage {
    width: 14.7395vw;
    height: 14.7395vw;
    border-radius: $primary-border-radius;

    img {
      object-fit: cover;
    }
  }
}

