@import "../../styles/Variables.module";

.searchSection {
  background: $primary-background-color;
  padding-top: 2rem;
  padding-bottom: 1.25rem;
}


.searchInput {
  width: 100%;
  height: 80px;
  position: relative;
  border-radius: $primary-border-radius;
  margin-top: 2.25rem;

  @media (max-width: 767px) {
    height: 60px;
  }

  @media (max-width: 609px) {
    height: 50px;
  }

  input {
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: $primary-border-radius;
    background: $primary-background-color;
    font-size: $primary-font-size;
  }

  .searchLoupe {
    width: 2.375em;
    height: 2.375em;

    position: absolute;
    right: 1.25rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
}